html, body {
  width: 1200;
  height: 1200;
}

.engagement_button, .energy_button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.energy_button button:pressed {
  background-color: red;
}

.engagement_button button:pressed {
  background-color: red;
}

#start {
    margin-top: 10px;
}

